body {
  /*font-family: Verdana, Arial !important;*/
}
.page p {
  font-size 16px
}
.line-numbers-mode {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.page img {
  display: block
  margin: auto
  border-radius: 12px;
}
@media screen and (max-width:420px) {
  .page img {
    width: 100%;
  }
}
.abstract-item::before, .abstract-item::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
  box-sizing: inherit;
  content: "";
  position: absolute;
}
.abstract-item::before {
  top: 0;
  left: 0;
}
.abstract-item::after {
  bottom: 0;
  right: 0;
}
.abstract-item:hover, .info-wrapper:hover {
  box-shadow: 0 0 6px -1px #60daaa!important;
  transform: scale(1.01);
}
.abstract-item:hover:after, .abstract-item:hover:before {
  width: 100%;
  height: 100%;
}
.abstract-item:hover:before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width .25s ease-out,height .25s ease-out .25s;
}
.abstract-item:hover:after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out .5s,width .25s ease-out .5s,height .25s ease-out .75s;
}
.footer {
  background: url(https://blog.jdqiong.cn/wave1.svg) top left;
}